body {
 	background: url(../images/bg.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
}

h1 {
	font-family: cursive;
	font-size: 12vw;
	color: orange;
	-webkit-text-stroke-width: 0.25vw;
	-webkit-text-stroke-color: rgba(0,0,0,1);
}

#background {
	width: 100vw;
	height: 100vh;
}

p.clock {
	line-height: 90vh;
	font-size: 10vw;
	color: white;
	text-align: center;
	-webkit-text-stroke-width: 0.5vw;
	-webkit-text-stroke-color: rgba(0,140,140,1);
}

.container-fluid {
 	padding: 0px;
}

.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
		50% { opacity: 0; }
}
