body {
  	background: url(../images/bg.jpg);
  	background-size: cover;
  	background-repeat: no-repeat;
}

h1 {
	font-family: cursive;
	color: orange;
}

#background {
	width: 100vw;
	height: 100vh;
}

p.clock {
	line-height: 90vh;
	font-size: 250px;
	color: white;
	text-align: center;
	-webkit-text-stroke-width: 6px;
	-webkit-text-stroke-color: rgba(0,140,140,1);
}

.container-fluid {
  	padding: 0px;
}
